<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" routerLink="/profiles"><b>GITSEARCH APP</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="profiles" routerLinkActive='active' target="_blank">Profiles<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/about" routerLinkActive='active' target="_blank">About</a>
          </div>
        </div>



        <a class="navbar-brand" href="#">GitSearch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <form action="" class="search-form form-inline my-2 my-lg-0">
                <div class="form-group">
                     <input type="text" class="form-control" placeholder="search your github username" [(ngModel)]='username' name='username' (keyup)='findProfile()'>
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="(keyup)='findProfile()'">Search</button>
                 </div>
             </form>
      </nav>

<div *ngIf='profile' class="container">
    <div class="panel panel-default" >
        <div class="panel-heading">
            

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <img >
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{profile.avatar_url}}" alt="profile image" style="height: 18rem;width: 18rem;" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{profile.name}}</h5>
                              <p class="card-text"> <small>{{profile.login}}</small>
                                <span *ngIf='profile.company'>{{profile.company}}</span>
                                {{profile.location}}</p>
                              <a href="{{profile.html_url}}" class="btn btn-primary" target="_blank">Go to my github account</a>
                            </div>
                          </div>
                </div>
               
               
                <div class="col-md-6">
                    <div class="list-group" id='prof'>
                        <p>
                           <button class="btn btn-danger"><span class='label bg-default'>{{profile.followers}}followers</span></button>     
                            <button  class="btn btn-success"><span class='label label-success'>{{profile.following}}following</span></button>    
                            <button  class="btn btn-warning"> <span class='label label-danger'>{{profile.public_gists}}public</span></button>   
                                <button  class="btn btn-info"> <span class='label label-warning'>{{profile.public_repos}}publicrepos</span></button>  
                                
                        </p>
                        <button class="btn btn-success"><a href="{{profile.html_url}}">view profile on github</a></button>
                      
                        <div class="card">
                                <div class="card-header">
                                        Repos
                                </div>
                                <div class="card-body" *ngFor='let repo of repos'>
                                  <h5 class="card-title">{{repo.name}} </h5>
                                  <p class="card-text">{{repo.description}} This project was created on <a href="{{profile.created_at}}"> {{profile.created_at}}</a></p>
                                  <p>This project was update on <a href="{{profile.updated_at}}">{{profile.updated_at}}</a></p>
                                  <a href="{{repo.html_url}}" class="btn btn-warning" target="_blank">view this project on github</a>
                                </div>
                              </div>
                    
                    </div>

                </div>

            </div>

        </div>
    </div>

